.receipt-container {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    bottom: 0%;
    left: 0;
    z-index: 20;
    border-radius: 14px 14px 0 0;
    transition: all ease-in 300ms;
}
.receipt-container.active {
    height: 100vh;
    transition: all ease-in 300ms;
}

.receipt {
    background-color: white;
    width: 60%;
    height: 100%;
    margin: 0rem auto;
    overflow-y: auto;
    padding: 20px;
    z-index: 20;
    
    transition: all ease-in 300ms;
    margin-top: 2rem;
}
.receipt::-webkit-scrollbar {
    width: 6px;
    background-color: #f8bcff;
}
.receipt-container.active .receipt {
    display: block;
    transition: all ease-in 300ms;
}

table {
    border: 1px solid red;
    width: 90%;
    margin: 0 auto;
    
}
tr,th, td {
    text-align: center;
}
th,td {
    padding: 12px 0;
}
.option {
    display: flex;
    margin: 1rem 0;
    width: 50%;
    justify-content: space-between;
}
.remove {
    padding: 10px;
    width: 50%;

}
.option button {
    padding: 10px;
    
}
.option h2 {
    font-size: 20px;
}
.item {
    border-top: 1px dashed #ccc;
    padding: 1.2rem 0;
}
.item-tab {
    display: flex;
}
.item-tab-img {
    width: 30%;
    margin-right: 15px;
}
.item-tab-img img {
    width: 100%;
    border-radius: 6px;

}

@media only screen and (max-width: 768px) {
    .receipt {
        width: 90%;
        height: 85vh;
    }
    .cancel {
        right: 12;
    }
}

.cancel {
    font-weight: 900;
    font-size: 20px;
    position: absolute;
    right: 12%;
    cursor: pointer;
}

.total {
    margin: 1rem 0;
}
.item-title {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}