@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300&display=swap');

@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Catamaran', sans-serif;
}

.price-item {
    margin: 1rem 0;
}

header {
    background-color: #360A3B;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav li {
    list-style-type: none;
    font-size: 20px;
    cursor: pointer;
}
.cart {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.cart-container, .skeleton-container {
    width: 30%;
    margin-top: 3rem;
}
.skeleton-container {
    animation: skeleton 1s ease infinite alternate;
    
}
.cart-container:first-child {
    margin-top: 4rem;
}

.cart-container:last-child {
    margin-bottom: 5rem;
}


.cart-container img, .skeleton-img {
    width: 100%;
    height: 250px;
}
.skeleton-img {
    background-color: #313131;
}
.skeleton-container h2 {
    height: 50px;
    width: 100%;
    background-color: #313131;
    margin-top: 1rem;
}
.skeleton-container h3 {
    margin-top: 1rem;
    height: 50px;
    width: 100%;
    background-color: #313131;
}

.cart-container button {
    width: 100%;
    padding: 10px 0;
    border: 0;
    border-radius: 6px;
}
body.remove-scrollbar {
    overflow: hidden;
}
button {
    background-color: #360A3B;
    color: white;
    font-size: 20px;
    border-radius: 6px;
    border: 0;
}


@media only screen and (max-width: 768px) {
    .cart {
        flex-direction: column;
    }
    .cart-container, .skeleton-container {
        width: 100%;
    }
}

@keyframes skeleton {
    to {
        opacity: 0.5;
    }
}