
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    overflow-x: hidden;
}

header, a {
    background-color: blue;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
}





nav li {
    list-style-type: none;
    font-size: 20px;
}
.cart {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.cart-container {
    width: 30%;
    margin-bottom: 1rem;
}


.cart-container img {
    width: 100%;
}
.cart-container button {
    width: 100%;
    padding: 10px 0;
    border: 0;
    border-radius: 6px;
}
body.remove-scrollbar {
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .cart {
        flex-direction: column;
    }
    .cart-container {
        width: 100%;
    }
}
